:root {
    --site-color: lightblue;
    --bg-color: rgb(14, 7, 95);
    --text-color: #ffffff;
    --primary-color: #007bff;
    --btn-color: #a30000;
    --btn-color-hover: #7f0000;
}

/* Tema escuro */
.theme-dark {
    --site-color: gray;
    --bg-color: #121212;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
    --btn-color: #a30000;
    --btn-color-hover: #7f0000;
}

/* Tema solarizado */
.theme-solarized {
    --site-color: #fff;
    --bg-color: #2a2a2a;   
    --text-color: #e0e0e0;   
    --primary-color: #4a4a4a;   
    --btn-color: #a30000;
    --btn-color-hover: #7f0000;
}